body {
  background-color: pink;
}

#root {
  border-style: solid;
  border-width: 8px;
  border-color: #ff758c;
  border-radius: 5%;
  margin: 10px;
  padding: 30px;
  background-color: rgba(255, 232, 235, 0.4);
}

.produits-en-stock {
  display: flex;
}

p {
  font-family: comic sans ms;
}

tr {
  font-family: comic sans ms;
}
.categorie-produit {
  font-size: large;
  background-color: #ff758c;
}

.error {
  background-color: rgba(255, 186, 186, 0.927);
  
}
.error-text {
  color: red;
font-size: x-large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
